* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Banner */
.banner {
    background-image: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e");
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: rgb(0, 255, 89);
}

/* Conteúdo */
.conteudo {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* Grid */
main {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: #dff0d8;
    padding: 20px;
    border-radius: 10px;
}

/* Aside */
aside {
    flex: 1;
    background: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Formulário */
.formulario {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
textarea,
button {
    padding: 10px;
}

textarea {
    height: 100px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
}

footer a:hover {
    color: rgb(5, 243, 116);
}

footer i {
    margin-right: 5px;
}


/* Responsividade */
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
    }

    main {
        grid-template-columns: 1fr;
    }

    .banner {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 15px;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}